body.lightblue-bg { background-color: lightblue; }
body.lightgrey-bg { background-color: lightgrey; }
body.lightcyan-bg { background-color: lightcyan; }
body.lemonchiffon-bg { background-color: lemonchiffon; }
body.whitesmoke-bg { background-color: whitesmoke; }
body.default-bg { background-color: white; }
